.glyphicon-star{font-size:50px;}
.glyphicon-trash{font-size:50px;}
.glyphicon-remove{font-size: 50px;}
.glyphicon-arrow-right{font-size:50px;}
.glyphicon-arrow-left{font-size:50px;}
.glyphicon-heart{font-size:50px;}
.glyphicon-heart-empty{font-size:50px;}